.dark {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid #333;
  box-shadow: 0 0 8px #333;
}

.light {
  background: white;
  color: #333;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px #ddd;
}
