.panel {
  position: fixed;
  max-width: 300px;
  z-index: 10000;
  color: #333;

  > * {
    position: relative;
    display: block;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    word-break: break-word;
  }
}
