.panel {
  position: fixed;
  z-index: 10000;
  color: #333;
}

.panel-body {
  position: relative;
  display: block;
  padding: 8px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  word-break: break-word;
}
